$takeaway-primary-color: rgba(80, 174, 204, 1);
$takeaway-primary-color-light: rgba(80, 174, 204, 0.8);

$takeaway-action-color: rgba(255, 128, 0, 1);
$takeaway-action-color-light: rgba(255, 128, 0, 0.8);
